<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Welcome to rmrisk</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <p>To use this application you must enable javascript</p>
    </div>

    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("rmrisk.app");</script>
    {% else %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>




